footer{
  background-color: #ecf0f1;
  text-align: center;
  .footnote{
    padding-top:40px;
  }
  .social{
    a{
      display: inline-block;
      text-decoration: none;
    }
    padding-top:100px;
  }
}
