
@font-face {
    font-family: 'Logofont';
    src: url('../../fonts/hff-black-steel-webfont.woff2') format('woff2'),
         url('../../fonts/hff-black-steel-webfont.woff') format('woff'),
         url('../../fonts/HFF-Black-Steel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
