
.container-fluid:after, .container-fluid:before {
    content: " ";
    display: table;
}
.container-fluid{
  max-width: 1000px;
}
.block{display: inherit;}
.wrap{
  padding:0;
  position: relative;
  @media(max-width:$screen-sm){
    padding-left: 3rem;
    padding-right:3rem;
  }
    @media(max-width:$screen-sm){
      padding-left: 1.5rem;
      padding-right:1.5rem;
    }

}
body{
  // background-color:$b;
  // padding: 4% 8%;
  // @media(max-width:$screen-md){
  //   padding: 3% 4%;
  // }
  // @media(max-width:$screen-sm){
  //   padding: 0%;
  // }

}


.image-mask{
  height:100%;
  visibility:hidden;
  max-height: 350px;
}
