


@keyframes logo-loader{
    0% {
        color:$logo-secodary;
    }
    100%{
      color:darken($logo-secodary, 20%)
    }
}



.logo-container-blk-bg{
  background-color:$t;
  display: inline-block;
  padding: 15px 25px 15px 25px;
  cursor: pointer;
  &:hover{

  }
  h1.name{
    @include transition() ;
    margin: 0;
    font-family: "Logofont", sans-serif;;
    font-size:35px;
    text-transform: uppercase;
    line-height:1;
    border-bottom: 3px solid $logo-secodary;
    border-top: 3px solid $logo-secodary;
    border-left:3px solid $t;
    border-right:3px solid $t;
    padding-top: 10px;
    padding:10px 15px;
    color:$logo-secodary;

    .d, .r{
        letter-spacing: 0.3em;
    }
    .r{
      letter-spacing: 0.47em;

    }
    .r,.e,.d,.i{
      &:hover{
        -webkit-animation-name: Wletters;
       -webkit-animation-duration: 3500ms ;
       -webkit-animation-iteration-count: 9999;
       -webkit-animation-timing-function: ease-in-out;
      }
    }
  }
}

.logo-container-wht-bg{
  background-color:$t;
  display: inline-block;
  padding: 15px 25px 15px 25px;
  cursor: pointer;
  h1.name{
    margin: 0;
    font-family: "Logofont", sans-serif;;
    font-size:35px;
    text-transform: uppercase;
    line-height:1;
    border-bottom: 3px solid $logo-primary;
    border-top: 3px solid $logo-primary;
    border-left:3px solid $t;
    border-right:3px solid $t;
    padding-top: 10px;
    padding:10px 15px;
    color:$logo-primary;

    .d, .r{
      letter-spacing: 0.3em;
    }
    .r{
      letter-spacing: 0.47em;
    }
  }
}
.logo-loader{
  background-color:$t;
  display: inline-block;
  padding: 15px 25px 15px 25px;
  cursor: pointer;
  h1.name{
    margin: 0;
    font-family: "Logofont", sans-serif;;
    font-size:35px;
    text-transform: uppercase;
    line-height:1;
    
    padding-top: 10px;
    padding:10px 10px;
    letter-spacing: .1em;
    color:$logo-primary;
    br{
      display:none;
    }

    .d{
        @include animation('logo-loader 1s 99');
        -webkit-animation-delay: 0s;
         animation-delay: 0s;
    }
    .e{
      @include animation('logo-loader 1s 99');
      -webkit-animation-delay: .25s;
       animation-delay: .25s;
    }
    .r{
      @include animation('logo-loader 1s 99')
      -webkit-animation-delay: .5s;
       animation-delay: .5s;

    }
    .i{
      @include animation('logo-loader 1s 99');
      -webkit-animation-delay: .75s;
       animation-delay: .75s;
    }
  }
}
