

body{
  font-family: "Raleway", sans-serif;
}

h3.logo{
  letter-spacing: 0.05em;
  font-family: "Logofont", sans-serif;;
  font-size:65px;
  text-transform: uppercase;
}

h1,.xl-title{
  font-size: 40px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  @media(max-width: $screen-sm){
    font-size: 30px;
  }
  @media(max-width: $screen-xs){
    font-size: 25px;
  }

}

h2,.lg-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 1.25em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  @media(max-width: $screen-sm){
    font-size: 25px;
  }
  @media(max-width: $screen-xs){
    font-size: 20px;
  }
}

.lg-title-alt{
  @extend .lg-title;
  font-weight: 100;
  @media(max-width: $screen-sm){
    font-size: 25px;
  }
  @media(max-width: $screen-xs){
    font-size: 20px;
    font-weight: 300;
  }
}

.lg-title-alt-2{
  @extend .lg-title-alt;
  letter-spacing: 0em;
  text-transform: capitalize;
  @media(max-width: $screen-sm){
    font-size: 25px;
  }
  @media(max-width: $screen-xs){
    font-size: 20px;
    font-weight: 300;
  }
}

h3,.m-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25em;
  letter-spacing: 0.10em;
  text-transform: uppercase;
  @media(max-width: $screen-xs){
    font-size: 18px;
  }
}

.m-title-alt{
  @extend .m-title;
  font-weight: 300;
  @media(max-width: $screen-xs){
    font-size: 18px;
  }
}

h4, .s-title{
  font-weight: 700;
  font-size: 15px;
  line-height: 1.25em;
  letter-spacing: 0.20em;
  text-transform: uppercase;
}

.s-title-alt{
  @extend .s-title;
  font-weight: 500;
}

.big-body{
  font-weight: 300;
  font-size: 22px;
  line-height: 2em;
  letter-spacing: 0em;
  p{
    font-weight: 300;
    font-size: 20px;
    line-height: 2em;
    letter-spacing: 0em;
  }
  @media(max-width: $screen-xs){
    font-size: 18px;
  }
}
p, .main-body{
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0em;
  p{ font-weight: 300;
    font-size: 15px;
    line-height: 2em;
    letter-spacing: 0em;
  }
}
.small-body{
  font-weight: 300;
  font-size: 16px;
  line-height: 2em;
  letter-spacing: 0em;
  p{
    font-weight: 300;
    font-size: 12px;
    line-height: 2em;
    letter-spacing: 0em;
  }
}

.pretty-text{
  text-align: center;
  margin:$gutter;
  &:after{
    content:" ";
    display: block;
    margin: $gutter-half auto;
    width:100px;
    height:3px;
    background-color: $logo-primary;

  }
}

// Small text labels
.lbl{
  font-weight: 900;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0.20em;
  text-transform: uppercase;
}

.button-text{
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
    line-height: 1em;
    letter-spacing: .2em;
}

.lbl-alt{
  @extend .lbl;
  font-weight: 500;
  text-transform: uppercase;
}

.s-lbl{
  font-weight: 500;
  line-height: 2em;
  font-size: 10px;
  letter-spacing: 0.30em;
  text-transform: uppercase;
}
.underline-txt{
  position: relative;
  &:after{
    background-color: $brand-accent;
    width: $grid-gutter-four-times;
    height: 3px;
    display: block;
    content: "";
    margin: $grid-gutter-width auto;
    margin-top: $grid-gutter-width - $grid-gutter-quarter;
  }
}
.underline-txt-left{
  position: relative;
  &:after{
    background-color: $brand-accent;
    width: $grid-gutter-four-times;
    height:3px;
    display: block;
    content: "";
    margin: $grid-gutter-width 0;
    margin-top: $grid-gutter-width - $grid-gutter-quarter;
  }
}
.underline-txt-left-white{
  position: relative;
  &:after{
    background-color: $white;
    width: $grid-gutter-four-times;
    height: 2px;
    display: block;
    content: "";
    margin: $grid-gutter-width 0;
    margin-top: $grid-gutter-width - $grid-gutter-quarter;
  }
}
