
// Colors
$t:                   transparent;
$logo-primary :       #232428;
$logo-secodary:        #fff;


$b:                   #232428;
$black:               #232428;
$white:               #fff;

$color-primary:        $black;
$color-accent:         $white;



 // gutter variables

$gutter:               40px;
$gutter-half:          $gutter / 2;
$gutter-one-half:      $gutter * 1.5;
$gutter-double:        $gutter * 2;
$gutter-double-half:   $gutter * 2.5;
$gutter-triple:        $gutter * 3;


$screen-xs:            30em;
$screen-sm:            48em;
$screen-md:            62em;
$screen-lg:            75em;
