
.component-one{
  background-size: cover;
  background-position: center;
  height:500px;
  position: relative;
  margin:0;
  padding: 2% 8%;
  @media(max-width:$screen-md){
      padding: 2% 4%;
  }
  @media(max-width:$screen-sm){
    padding: 0%;
  }
  @media(max-width: $screen-xs){
    height:auto;
    padding-bottom:60px;

  }
  &:before{
      background-color: rgba($b, .3);
      content: "";
      position: absolute;
      top:0;
      left:0;
      right: 0;
      bottom:0;
  }

  .text-area{
    margin-left: 0;
    margin-top: 200px;
    color:white;
    // padding-left:$gutter-one-half;
    // padding-right:$gutter;
    @media(max-width:$screen-sm){
       margin: 0 $gutter;
      margin-top: 200px;
      // padding-left: $gutter;
    }
    @media(max-width: $screen-xs){
    margin: 0 ;
      margin-top: 180px
    }
    .i-am{
      text-align: left;
      height:90px;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      font-size: 40px;
      letter-spacing: .0253em;
      text-transform: uppercase;
      margin:0;
      @media(max-width: $screen-sm){
        height:100px;
        font-size:32px;
      }
      @media(max-width: $screen-xs){
        height:130px;
        font-size:32px;
      }
    }
    p.subtext{
      max-width: 650px;
      line-height:1.4;
      padding-top: $gutter-half;
      color:white;
      font-family: "Raleway", sans-serif;
      font-weight: 300;
      font-size: 22px;
      margin:0;
      .flag{
        font-size: 26px;
      }
      @media(max-width: $screen-sm){
      padding-top: 0;
      }
    }
  }
}
