
.component-one{
  background-size: cover;
  background-position: center;
  height:500px;
  position: relative;
  margin:0;
  @media(max-width: $screen-sm){

  }
  @media(max-width: $screen-xs){
    height:auto;
    padding-bottom:60px;

  }
  &:before{
      background-color: rgba($b, .3);
      content: "";
      position: absolute;
      top:0;
      left:0;
      right: 0;
      bottom:0;
  }

  .text-area{
    margin-left: calc(30% - 10em);
    margin-top: 200px;
    color:white;
    padding-left:$gutter-one-half;
    padding-right:$gutter;
    border-left:3px solid $logo-secodary;
    border-top: 3px solid $t;
    border-bottom: 3px solid $t;
    @media(max-width:$screen-sm){
      margin-top: 200px;
      margin-left: $gutter;
      padding-left: $gutter;
    }
    @media(max-width: $screen-xs){
      padding-right:20px;
      border-right: 3px solid white;
      margin-left: 0;
      padding-left: 20px;
      margin-top: 180px
    }
    .i-am{
      height:90px;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      font-size: 40px;
      letter-spacing: .0253em;
      text-transform: uppercase;
      margin:0;
      @media(max-width: $screen-sm){
        height:100px;
        font-size:32px;
      }
      @media(max-width: $screen-xs){
        height:130px;
        font-size:32px;

      }
    }
    p.subtext{
      line-height:1.4;
      padding-top: $gutter-half;
      color:white;
      font-family: "Raleway", sans-serif;
      font-weight: 300;
      font-size: 22px;
      margin:0;
      .flag{
        font-size: 26px;
      }
      @media(max-width: $screen-sm){
      padding-top: 0;
      }
    }
  }
}
