
.component-one{

  position: relative;
  margin:0;
  // padding: 2% 8%;
  height: 100vh;
  max-height:100vh;
  // @media(max-width:$screen-md){
  //     padding: 2% 4%;
  // }
  // @media(max-width:$screen-sm){
  //   padding: 0%;
  // }
  @media(max-width: $screen-xs){
    height:100%;
    padding-bottom:60px;

  }
  &.darker-bg{
    &:before{
        background-color: rgba($b, .75);
      }
  }
  &:before{
      background-color: rgba($b, .55);
      content: "";
      position: absolute;
      top:0;
      left:0;
      right: 0;
      bottom:0;
  }

  .image-holder {
    position: absolute;
    right: 80px;
    top: 200px;
    width: 128px;
    height: 128px;
    @media(max-width: $screen-sm){
      display: block;
      position: relative;
      width: 128px;
      height: 128px;
      top: auto;
      right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
   }
  }

  img{
    max-width: 100%;
  }
  &.feature-header{
    height:auto;
    padding-bottom: 180px;
    max-height: none;
    @media(max-width: $screen-xs){
      height:100%;
      padding-bottom:20px;

    }
  }

  .text-area{
    margin-left: 0;
    margin-top: 200px;
    color:white;
    padding-left: $gutter;
    // padding-left:$gutter-one-half;
    // padding-right:$gutter;
    @media(max-width: $screen-sm){
       margin: 0 $gutter;
      margin-top: 180px;
      padding-left: 0;

      // padding-left: $gutter;
    }
    @media(max-width:$screen-md){

    }
    @media(max-width: $screen-xs){
    margin: 0 ;
      margin-top: 160px
    }
    .i-am{
      text-align: left;
      min-height:90px;
      padding-bottom: 20px;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      font-size: 45px;
      letter-spacing: .0253em;
      text-transform: uppercase;
      margin:0;
      @media(max-width: $screen-sm){
        min-height:100px;
        font-size:32px;
      }
      @media(max-width: $screen-xs){
        min-height:100px;
        font-size:32px;
      }
    }
    .btn{
      margin-top:20px;
    }
    p.subtext{
      max-width: 550px;
      line-height:1.4;
      padding-top: $gutter-half;
      color:white;
      font-size: 25px;
      margin:0;
      .flag{
        font-size: 26px;
      }
      &.feature{
        font-size: 20px;
        margin-bottom:20px;
      }
      @media(max-width: $screen-sm){
      padding-top: 0;
      font-size: 20px;
      }
    }
  }
}
